/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------ End of CSS Reset V2.0 -------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}

/*-------------------------- Scrollbar --------------------------*/
::-webkit-scrollbar-button {
  display: none;
  height: 13px;
  border-radius: 0;
  background-color: #aaa;
}

::-webkit-scrollbar-button:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, .3);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(100, 215, 255, .5);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 0;
}

::-webkit-scrollbar-track:hover {
}

::-webkit-scrollbar {
  width: 18px;
  margin: 2px 0;
}

/*-------------------------- End of Scrollbar --------------------------*/

h1, h2, h3, h4 {
  font-weight: bold;
}

html {
  height: 100%;
}

body {
  background-color: #191c1f;
  color: #fff;
  font-size: 17px;
  min-height: 100%;
  position: relative;
}

button, input, textarea, select {
  font-family: 'Source Sans Pro', sans-serif;
}

.top-bar {
  align-items: center;
  background-color: #212c36;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding: 0 15px;
}

.team-chooser {
  width: 200px;
}

.main-nav {
  display: inline-block;
  font-size: 14px;
}

.main-nav > a {
  color: rgba(255, 255, 255, .8);
  display: inline-block;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav > a.active {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.clock {
  display: inline-block;
}

.clock > i {
  margin-right: 10px;
}

.main-content {
  display: block;
  height: calc(100% - 50px);
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  width: 100%;
}

.container-row {
  align-items: flex-start;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}

.container-column {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  overflow: hidden;
}

.widget {
  background-color: #212c36;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
  margin: 15px;
  min-width: 20%;
}

.widget > h2 {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 20px 20px 10px;
}

.widget > .content {
  padding: 10px 20px;
}

.widget > .content:first-child {
  padding-top: 20px;
}

.widget > .content:last-child {
  padding-bottom: 20px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-s {
  min-width: 350px;
  width: 33%;
}

.width-75 {
  width: 75%;
}

.fill {
  height: calc(100%);
}

.overlay {
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.overlay:after {
  color: rgba(255, 255, 255, .8);
  content: '\f00d';
  cursor: pointer;
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-size: 30px;
  font-weight: 900;
  height: 40px;
  line-height: 40px;
  margin: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 40px;
}

.form {
  background-color: #212c36;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
  display: block;
  margin: 60px auto;
  overflow: hidden;
  width: 800px;
}

.form > h2:first-of-type {
  font-size: 1.2em;
  padding: 15px 15px 25px;
}

.form > h3:first-of-type {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: -15px;
  padding: 0 15px 20px;
}

.form > .content {
  display: flex;
  flex-direction: column;
}

.form > .content > .info {
  display: block;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  height: 84px;
}

.form > .content > .info > * {
  margin: 0 5px;
}

.form > footer {
  padding: 20px 15px 15px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.field > span {
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 0;
}

.field > .values {
  display: flex;
  justify-content: space-between;
}

.hover-panel {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding: 5px;
}

.hover-panel > button {
  padding: 5px;
}

*:hover > .hover-panel {
  display: block;
}

/*------------------- Widgets ------------------------*/

.scrum-board {
  min-height: 300px;
  padding: 10px 15px;
}

.scrum-board .sprint-goal {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

.scrum-board .sprint-goal > strong {
  display: block;
  padding: 5px 0;
}

.scrum-board .sprint-goal > span {
  display: block;
  padding: 5px 0;
}

.scrum-board .sprint-goal > .count-down {
  position: relative;
  padding: 5px 0 8px;
  color: orange;
  font-size: .86em;
  font-weight: bold;
  text-align: right;

}

.scrum-board .sprint-goal > .count-down > div {
  position: absolute;
  height: 5px;
  background-color: orange;
  width: 100%;
  bottom: 0;
}

.count-down > svg {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
}

.count-down > svg > .ring {
  stroke: orange;
  stroke-width: 4px;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
}

.scrum-board > h2 {
  margin-bottom: 15px;
  padding: 10px 0;
}

.scrum-board .column {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0 5px;
  max-width: 300px;
  overflow: hidden;
}

.scrum-board .column > h3 {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
  display: block;
  padding: 15px;
}

.scrum-board .column:first-of-type {
  margin-left: 0;
}

.scrum-board .column:last-of-type {
  margin-right: 0;
}

.column.to-do > h3 {
  background-color: #8e44ad;
}

.column.in-development > h3 {
  background-color: #3498db;
}

.column.review > h3 {
  background-color: #16a085;
}

.column.ready-for-qa > h3 {
  background-color: #e74c3c;
}

.column.qa > h3 {
  background-color: #f39c12;
}

.column.done > h3 {
  background-color: #9d931d;
}

.scrum-board .task {
  background-color: #45505a;
  border-radius: 6px;
  display: block;
  font-size: 15px;
  margin: 10px 0 0;
  padding: 10px 15px;
}

.task > p {
  display: inline-block;
  line-height: 1.2em;
  padding: 5px 0 0;
  width: calc(100% - 40px);
}

.task > .icon {
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  margin: -15px -10px 0 8px;
  overflow: hidden;
  vertical-align: top;
  width: 36px;
}

.module {
  display: inline-block;
  flex: 0 0 auto;
}

.overview {
  justify-content: space-around;
}

.text-bold {
  font-weight: bold;
}

.avatar {
  border-radius: 16px;
  display: inline-block;
  flex: 0 0 auto;
  height: 32px;
  vertical-align: middle;
  width: 32px;
}

.avatar.big {
  height: 64px;
  width: 64px;
  border-radius: 32px;
}

.c-red {
  color: #f53;
}

.c-orange {
  color: orange;
}

.c-green {
  color: yellowgreen;
}

.person-item {
  align-items: center;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 6px 10px;
  position: relative;
}

.person-item p {
  padding: 10px 0 0;
}

.person-item i {
  margin: 0 10px;
}

.person-item h4 {
  display: inline-block;
  font-weight: 600;
  margin: 0 10px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.person-item > strong {
  display: inline-block;
  font-weight: 600;
  margin: 0 10px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 35%;
}

.person-item > .content {
  align-items: center;
  flex: 1 0 auto;
  font-size: .9em;
  padding: 0;
  text-align: right;
}

.person-item > .content.column {
  align-items: stretch;
  flex-direction: column;
  font-size: 1em;
  text-align: left;
}

.person-item > .content > i {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
}

.person-item > .content > span {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}

.person-item.spotlight {
  background-color: transparent;
  font-size: 18px;
  justify-content: flex-start;
  padding: 10px 0;
}

.person-item.spotlight > span {
  font-weight: 300;
  text-align: justify;
  white-space: normal;
}

.person-item.spotlight > .avatar {
  border-radius: 32px;
  height: 64px;
  margin-right: 15px;
  width: 64px;
}

.person-item.disable {
  opacity: .5;
}

/*------------------- Elements -----------------------*/

button {
  background-color: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  min-width: 10px;
  outline: none;
  padding: 10px 15px;
  transition: all 100ms linear;
}

button > i.fas {
  display: block;
  font-size: 18px;
  height: 20px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  width: 20px;

}

button:hover {
  background-color: rgba(255, 255, 255, .35);
}

button:active {
  background-color: #4389cc;
  box-shadow: 0 0 8px 1px #4389cc;
  transform: scale(1.01);
}

input, select, textarea {
  background-color: rgba(255, 255, 255, .0);
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, .18);
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 -1px;
  outline: none;
  padding: 8px 1px;
  transition: all 100ms linear;
}

option {
  color: #000;
}

input:focus, select:focus, textarea:focus {
  border-color: #4389cc;
}

table {
  font-size: 14px;
  width: 100%;
}

table td {
  border-right: 1px solid #212c36;
  line-height: 20px;
  padding: 10px;
  vertical-align: middle;
}

table th {
  border-right: 1px solid #212c36;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

table td:last-child, table th:last-child {
  border-right: none;
}

td > img {
  display: block;
  height: 32px;
  margin: -6px 5px;
  width: 32px;
}

td > button {
  margin: -5px 5px;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, .1);
}

h2 > span {
  font-weight: 300;
  vertical-align: middle;
}

.checkbox {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 15px;
  padding: 8px 0;
  position: relative;
  text-align: right;
}

.checkbox:first-of-type {
  margin-left: 0;
}

.checkbox:last-of-type {
  margin-right: 0;
}

.checkbox > input {
  display: inline-block;
  float: left;
  height: 9px;
  margin: 6px 10px 6px 5px;
  position: relative;
  vertical-align: middle;
  width: 9px;
}

.checkbox > input:after {
  background-color: #aaa;
  border: 2px solid #aaa;
  border-radius: 4px;
  content: ' ';
  display: inline-block;
  height: 18px;
  margin: -5px;
  position: absolute;
  width: 18px;
  z-index: 10;
}

.checkbox > input:checked:after {
  background-color: #4389cc;
  border-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 3px 1px #4389cc;
  content: ' ';
}

/*------------------- Loaders ------------------------*/