/*
Admin styling by : Petri van Niekerk, Dominic Dingena & Agung Udijana
 */

html, body {
	margin: 0;
	background-color: #191C1E;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color:#fff;
}


h1 {
	font-weight: 200;
	font-size: 30px;
	color: white;
	border-bottom: 1px solid #ffffff2e;
	padding: 15px;
}

#general button{
	background-color: white;
	color: black;
	margin-left: 155px;
}


.button1 {
	font-weight: 300;
	font-size: 15px;
	color: black;
	margin: 10px;
	float: right;
}

.button2 {
	font-weight: 300;
	font-size: 15px;
	color: black;
	margin: 40px;
	float: right;
}

ul {
	list-style:none;
}

#header {
	height:45px;
	border-bottom: solid 1px #45505A;
}

#menu{
	 height:45px;
	 margin:0;
	 list-style:none;
 }
#menu li{
	height:35px;
	float:left;
	padding:5px 10px;
	border-right:solid 1px #212C36;
}

#form{
	height:450px;
	width:450px;
	margin:0;
	list-style:none;
}

#form ul {
	list-style:none;
}


#formwerkdagen {
	list-style:none;
}

#formwerkdagen li{
	height:25px;
	float: left;
	padding: 5px;
}


a, a:visited, a:active{
	color:#fff;
	text-decoration:none;
}



h1 img {
	height: 42px;
	vertical-align: bottom;
}




#general h2 {
	font-weight: 200;
	font-size: 1.38em;
	color: white;
	padding: 0px;
	margin-left: 20px;
}



#welcome {
    margin: 0 auto;
    font-weight: 400;
    font-size: 2.38em;
    color: white;
    width: 40%;
    padding: 50px;
    text-align: center;
}

#welcome img {
    width: 100%;
}




h2 img {
	height: 75px;
	vertical-align: bottom;
	border-radius: 50%;
}

#general label {
	border-spacing:0px;
	padding:10px;
	display:inline-block;
	width:200px;
}

#general {
    margin: 0 auto;
    padding: 0px;
    background-color: #212C36;
    width: 470px;
    height: 600px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 14px 89px 6px rgba(105,101,105,1);
    -moz-box-shadow: 3px 14px 89px 6px rgba(105,101,105,1);
    box-shadow: 3px 14px 89px 6px rgba(105,101,105,1);
}

#general h1 {
    font-weight: 200;
    font-size: 30px;
    color: white;
    border-bottom: 1px solid #ffffff2e;
    padding: 15px;
}

#generalteam {
	margin:0 auto;
	padding:0px;
	background-color: #212C36;
	width:400px;
	height: 275px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 14px 89px 6px rgba(105,101,105,1);
    -moz-box-shadow: 3px 14px 89px 6px rgba(105,101,105,1);
    box-shadow: 3px 14px 89px 6px rgba(105,101,105,1);
}

#generalteam label {
	border-spacing:0px;
	padding:5px;
	display:inline-block;
	width:100px;
	margin-left: 30px;
}


.memberlist {
	margin-bottom: 5px;
	padding: 4px;
	color: #FFFFFF;
	background-color: #45505A;
	border-radius: 4px;
}

.memberlist img {
	vertical-align: middle;
}

.memberlist span {
	line-height: 24px;
	margin-left: 10px;
}
.memberlist img.userimg {
	border-radius: 50%;
	margin-left: 40px;
}

.memberlist .edit {
	margin-right: 25px;
	float: right;
}

.memberlist .freetime {
	margin-right: 0px;
	float: right;
}


#members {
	list-style: none;
	margin: 20px;
	padding: 0;
}

#current-getter {
	margin: 20px;
	height: 60px;
}

#current-getter span.name {
	font-weight: 700;
}

#current-getter img {
	width: 60px;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}
#member-list {
	height: 460px;
	overflow: hidden;
}

.scrollable {
	overflow-y: auto;
	max-height: 400px;
    height:1000px;
}

.memberlist .icon img {
	height: 15px;

}

#messageblock {
    height: 40px;
}


#titelmain {
    border-bottom: none;
}